In [7]:
a=int(input("Enter First Value"))
b=int(input("Enter Second Value"))
c=int(input("Enter Third Value"))
d=(b**2-4*a*c)
if d<0:
    print("Solution nt possible")
else:
x1=(-b+d**0.5)/(2a)
x2=(-b-d**0.5)/2a
print("X1=",x1,"X2",x2)

IndentationError: expected an indented block (<ipython-input-7-bc88190eefab>, line 8)

In [9]:
2**3*2

64

In [10]:
x=0
if x == 0:
    print("true")

true

In [13]:
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
c=int(input("Enter Third Value: "))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
elif c>a and c>b:
    print("C is greater")

Enter First Value868
Enter Second Value6576
Enter Third Value987798
C is greater

In [14]:
city=["karachi","peshawar","islamabad","pindi"]
print(city)

['karachi', 'peshawar', 'islamabad', 'pindi']

In [15]:
city[0]

'karachi'

In [16]:
city.append("islamabad" )

In [17]:
city

['karachi', 'peshawar', 'islamabad', 'pindi', 'islamabad']

In [18]:
del city[4]

In [19]:
city

['karachi', 'peshawar', 'islamabad', 'pindi']

# <h1>LIST:SLICES</h1>

In [21]:
city[1:3]

['peshawar', 'islamabad']

In [22]:
city[0:2:3]

['karachi']

In [23]:
city[::3]

['karachi', 'pindi']

In [24]:
city[0::3]

['karachi', 'pindi']

# <h1>LOOPS(FORLOOP)</h1>

In [4]:
a=int(input("Enter number For print table: "))
for i in range (11):
    print(str(a)+" * "+str(i)+" = "+str(a*i))

Enter number For print table: 8

In [11]:
list(range(11,1,-1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [12]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a=int(input("Enter number For print table: "))
for i in range (10,0,-1):
    print(str(a)+" * "+str(i)+" = "+str(a*i))

Enter number For print table: 7
7 * 10 = 70
7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7

In [13]:
name='Wahaj'
for a in name:
    print(a)

W
a
h
a
j